* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    height: 100vh;
    width: 100vw;

}

#img1 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    object-fit: cover;
    object-position: center  center;
}

.Birds {
    background-color: transparent;
    position: absolute;
    width: 5.20833vw;
    object-fit: contain;
    transition: top 0.2s linear;
}

.Column {
    position: absolute;
    background-color: green;
    transition: left 0.2s linear;
}

#ScoreCounter {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5625vw;
    background-color: rgba(0, 0, 255, 0.374);
    bottom: 1.60417vw;
    right: 1.60417vw;
    width: 10.41667vw;
    height: 5.20833vw;
}